body {
    margin: 0;
    padding: 0;
    background-color: #00ffff; /* Azul neon */
    font-family: Arial, sans-serif;
    color: #ffffff; /* Texto branco */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
    height: 85vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    padding: 20px;
    width: 100%;
    max-width: 800px; /* Limita a largura máxima do conteúdo */
}

.image-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    padding: 10px;
    border-radius: 10px;
    width: 100%; /* Ocupa toda a largura do container */
    max-width: 600px; /* Limita a largura máxima */
}

.image-box img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.description {
    flex: 1;
}

.description h2 {
    margin: 0;
    font-size: 24px;
}

.description p {
    margin: 10px 0 0;
    font-size: 16px;
}


footer{
    background-color: rgb(104, 97, 97);
    height: 5vh;
    display: flex;
    position: relative;

}

.rodapesuper{
    background-color: rgb(104, 97, 97);
    height: 5vh;
}